<h1>Bookmark Manager</h1>

<form action='/bookmarks/delete' method="post">
  <% @bookmarks.each do |bookmark| %>
    <input type="checkbox" id="<%=bookmark['url']%>" name="delete[]" value="<%=bookmark['title']%>">
    <a href="<%=bookmark['url']%>" target="_blank"><%=bookmark['title']%></a>
    <hr>
  <% end %>
  <input type="submit" value="Delete" />
</form>

<form action='/bookmarks/new' method="post">
  <input type=“text” name="url" placeholder="URL" />
  <input type=“text” name="title" placeholder="Title" />
  <input type="submit" value="Add bookmark" />
</form>



<div><%=flash[:error]%></div>
