<h1>Bookmark Manager</h1>

<form action='/bookmarks/delete' method="post">
  <% @bookmarks.each do |bookmark| %>
    <input type="checkbox" id="<%=bookmark%>" name="delete[]" value="<%=bookmark%>">
    <a href="<%=bookmark%>" target="_blank"><%=bookmark%></a>
    <hr>
  <% end %>
  <input type="submit" value="Delete" />
</form>

<form action='/bookmarks/new' method="post">
  <input type=“text” name="url" />
  <input type="submit" value="Add bookmark" />
</form>


<div><%=flash[:error]%></div>
